.box-layout {
  background: url("/images/bg.jpg");
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.box-layout__box {
  border-radius: 3px;
  text-align: center;
  width: 25 rem;
  padding: $l-size $m-size;
  background: fade-out(white, 0.15);
}

.box-layout__title {
  margin: 0 0 $m-size 0;
  line-height: 1;
}
